.countries {
  height: 100%;
  position: relative;
}

.countries .specificCountry:not(:first-child) {
  margin-top: 2rem;
}

.specificCountry {
  overflow: auto;
  padding: 0 4rem;
  height: 15%;
  width: 100%;
  border-radius: 20px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  transition: all 0.25s ease;
}

.specificCountry:hover {
  background-color: #343434;
  height: 19%;
}

.specificCountry > div:first-child {
  font-size: 5rem;
}

.countryName {
  padding-left: 4rem;
  height: 60%;
  display: flex;
  align-items: center;
  border-left: 1px solid white;
}

@media (width < 1014px) {
  .specificCountry {
    font-size: 1.5rem;
  }
  .specificCountry > div:first-child {
    font-size: 3rem;
  }
}
