.container {
  height: 65rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.menu {
  width: 40%;
  height: 100%;
  border-right: 10px solid #ff4d00;
}

.logo {
  height: 10%;
  width: 100%;
  text-align: center;
}

.logo > a {
  width: auto;
  height: 180%;
  position: relative;
  bottom: 50%;
}

.logo > a > img {
  width: auto;
  height: 160%;
}

.navigation {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 2px solid #1f1f1f;
}

.navigation > a:first-child {
  border-right: 2px solid #1f1f1f;
}

.navigation > a {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #ff4d00;
  border-radius: 20px 20px 0 0;
}

.listContainer {
  height: 80%;
  width: 95%;
  background-color: #ff4d00;
  margin: 0 auto;
  border-radius: 20px;
  padding: 1rem;
}

@media (width < 956px) {
  .menu {
    width: 60%;
  }
}

@media (width < 979px) {
  .container {
    flex-direction: column;
    height: 170rem;
  }
  .container > * {
    width: 100%;
  }
  .menu {
    border: none;
    padding-bottom: 5rem;
    border-bottom: 10px solid #ff4d00;
  }
  .container > *:not(:first-child) {
    margin-top: 2rem;
  }
}
