:root {
  --purple: #494c57;
  --yellow: #ffcc01;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: black;
}

a.active {
  background-color: #9dec79;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--purple);
  font-size: 2rem;
}
