* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.trademark {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  height: 2.75rem;
  background-color: #ff4d00;
  box-shadow: 2px 2px 20px #ff4d00;
  font-size: 2rem;
  text-align: center;
  color: #1f1f1f;
}

html {
  font-size: 62.5%;
  user-select: none;
}

button,
input,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: #1f1f1f;
  font-family: "Barriecito", sans-serif;
  min-width: 521px;
}

#id {
  padding: 0 4rem;
  background-color: #1f1f1f;
}

nav > ul > li:nth-child(2) > a.active {
  border-top: 2px dashed #ff4d00;
  padding: 1rem 4rem;
}

#map {
  filter: saturate(2);
  width: 60%;
  height: 100%;
  background-color: rgb(80, 75, 69);
}

a {
  text-decoration: none;
  color: inherit;
}

@media (width < 956px) {
  #map {
    width: 40%;
  }
}

.navigation {
  transition: all 0.25s ease;
}

.navigation.active {
  padding: 1rem 4rem;
  background-color: #ffffff;
}

svg {
  transition: all 0.25s ease;
}

svg:hover {
  fill: red;
  scale: 2;
}
